# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/*
output/*
# data/processed/*
# output/plots/*
# output/reports/*

# Temporary files
*.log
*.tmp
*.bak

# Output files
csv_analysis_*.png
csv_analysis_*.txt

/second part/data/
/first part/data/
/first part/output
/second part/source/experiments/gender_universal_rules/results
/second part/source/latex_paper/ISD-2026-Instructions-for-authors-LaTeX
*.fdb_latexmk
*.blg
*.fls
*.gz
*.fdb_latexmk
*.fdb_latexmk
*.blg
*.aux
*.gz
*.gz
second part/source/latex_paper/my paper/isd.synctex.gz
second part/source/latex_paper/my paper/isd.blg
second part/source/latex_paper/my paper/isd.bbl
second part/papers/
/second part/source/experiments/dataset_comparison/results
